<!DOCTYPE html>
<html>
<body>
<meta charset="UTF-8">


<h1>Select an animal and a fruit!</h1>

<p>They will be combined and you will learn more about the species:</p>

<form action = "/fuse" method = "POST">
  <select id="animal" name="animal">
    <option value="octopus">Octopus &#128025;</option>
    <option value="scorpion">Scorpion &#129410</option>
    <option value="deer">Deer &#129420</option>
  </select>
  <p>+</p>
  <select id="fruit" name="fruit">
    <option value="hotdog">Hotdog &#127789;</option>
    <option value="pineapple">Pineapple &#127821</option>
    <option value="cake">Cake &#127874</option>
  </select>
  <input type="submit" value="FUSE">
</form>
</meta>
</body>
</html>


